.addfyp {
  h1 {
    color: #555;
    margin-bottom: 10px;
  }
  .addfypContainer {
    display: flex;
    gap: 20px;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 10px;
        border: 1px solid lightgray;
      }

      .editorContainer {
        height: 300px;
        overflow: scroll;
        border: 1px solid lightgray;

        .editor {
          height: 100%;
          border: none;
        }
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        border: 1px solid lightgray;
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        color: #555;

        span {
          display: flex;
          justify-content: space-between;
        }
        h1 {
          font-size: 20px;
        }

        .buttons {
          display: flex;
          justify-content: space-between;

          :first-child {
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;
            padding: 3px 5px;
          }
          :last-child {
            cursor: pointer;
            color: white;
            background-color: rgb(142, 47, 13);
            border: 1px solid rgb(142, 47, 13);
            padding: 3px 5px;

            &:hover {
              background-color: white;
              color: rgb(142, 47, 13);
            }
          }
        }

        .cat {
          display: flex;
          align-items: center;
          gap: 2px;
          color: teal;

          label {
            font-size: 14px;
          }
        }
      }
    }
  }
}
