.passwordChange {
  box-sizing: border-box;

  .passwordWrapper {
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }
    form {
      input {
        width: 85%;
        outline: none;
        border: none;
        background: rgb(207, 197, 193);
        padding: 12px 14px;
        margin-bottom: 10px;
        border-radius: 10px;
      }
    }

    button {
      font-size: 1.1rem;
      margin-top: 1rem;
      padding: 8px 0;
      border-radius: 5px;
      outline: none;
      border: none;
      width: 85%;
      background: rgb(142, 47, 13);
      color: #fff;
      cursor: pointer;

      &:hover {
        background: rgba(122, 30, 30, 0.767);
      }
    }
  }
}
